.body {
    font-family: "Circe", sans-serif;
    line-height: 1.35;
    color: #fff;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1142px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.main {
    flex-grow: 1;
}

/* ---------------------------------------- */
.header {
    background: url(../img/header-bg.jpg) center center / cover no-repeat;
}

.header__top {
    border-bottom: 1px solid #fff;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1590px;
    margin: 0 auto;
    padding: 33px 15px;

}

.header__logo {
    padding-right: 15px;
}

.header__list {
    display: flex;
    gap: 47px;
    padding-right: 15px;
}

.header__search {
    display: flex;
    gap: 70px;
}

.header__search-btn {
    background: transparent;
}

.header__language span {
    padding-left: 11px;
}

.header__hero-inner {
    display: flex;
    /* grid-template: repeat(2, 1fr) / repeat(2, 1fr); */
    /* align-items: center; */
    justify-content: space-between;
    padding-bottom: 53px;
}

.header__text {
    padding-top: 144px;
}

.header__title {
    font-family: "PlumbC", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.6;
    text-transform: uppercase;
    padding-bottom: 46px;
}

.header__subtitle {
    font-size: 24px;
    line-height: 1.4;
    padding-bottom: 25px;
}

.header__link span {
    padding-right: 10px;
}


.header__about {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    gap: 30px;

    padding-top: 304px;
}

.hero-grid {
    padding: 30px 15px 30px 40px;
    width: 255px;
}

.header__calend {
    background: #2378fc;
}

.header__about-title {
    font-family: "PlumbC", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.3;
    letter-spacing: -0.01em;

    padding-bottom: 15px;
}

.header__about-link {
    font-size: 14px;
    padding: 99px 15px 30px 0;
}

.header__about-link span {
    padding-right: 10px;
}

.header__how {
    background: #30bcc9;
}

.header__online {
    background: #ffc41e;
}

.header__plan {
    background: #f6404f;
}

/* ------------------------------------ */
.main__navigation {
    background: #2378fc;
    padding: 75px 0 65px;
}

.navigation__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.navigation__title {
    font-family: "PlumbC", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: -0.01em;

    padding-bottom: 30px;
}

.navigation__item {
    padding-bottom: 15px;
}

.navigation__link {}

.main__events {
    background: #ffc41e;
    padding: 75px 0 79px;
}

.events__inner {}

.events__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 55px;
}

.top-title {
    font-family: "Plumb", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #2e373b;
}

.top-link span {
    font-family: "Plumb", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #2e373b;

    padding-right: 15px;
}

.events__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    justify-content: space-between;
    gap: 18px 30px;
}

.events__item {}

.events__img {
    padding-bottom: 20px;
}

.events__date {
    font-size: 14px;
    color: #2e373b;
    padding-bottom: 10px;
}

.events__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #f6404f;
    padding-bottom: 10px;
}

.events__subtitle {
    color: #2e373b;
}

/* ------------------------------ */
.main__info {
    padding: 75px 0 85px;
}

.info__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.info__images {}

.info__images-link:first-child img {
    padding-bottom: 59px;
}

.info__news {}

.info__news-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 30px;
}

.info__news-item {
    padding-bottom: 30px;
}

.info__news-item:last-child {
    padding-bottom: 0px;
}

.info__news-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
}

.info__news-date {
    color: #f6404f;
    padding-bottom: 14px;
}

.info__news-title {
    font-family: "Plumb", sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    color: #2e373b;
}